/*selecteur simple*/
p {
	/*cibler tous les p du dom*/
	background: red;
}

/*selecteur d'id*/
#green {
	/*cible l'element html qui porte l'attribut id="green"*/
	background: green;
}

/*selecteur de class*/
.purple {
	/*cible tous les elem du dom qui ont un attribut class="purple"*/
	background: purple;
}

/*selecteur d'attribut*/
[href] {
	/*cible tous les elements du dom qui ont un attribut href*/
	background: orange;
}

[href="pages/page1.html"] {
	/*cible tous les elements du dom qui ont un attribut href="pages/page1.html"*/
	background: yellow;
}

[href*="http"] {
	/*cible tous les elements du dom qui ont un attribut href dont la valeur
	contient la chaine http */
	background: yellow;
}

/*selecteurs d'adjascence*/
.container p {
	/*cible tous les p descendant d'un class="container"*/
	background: pink;
}

.container > p {
	/*cible tous les p du dom enfant direct d'un class="container"*/
	background: brown;
}

/*ecrire un selecteur css pour cibler tous les p descendant d'un article 
enfant direct de .container*/
.container > article p {
	background: violet;
}

/*ecrire un selecteur css pour cibler tous les p enfant direct d'un article 
enfant direct de .container*/
.container > article > p {
	background: blue;
}

.container article > div + p {
	/*cible p frère suivant d'un div lui meme enfant direct d'un article
	lui meme descendant de .container*/
	background: yellow;
}

p.ilesttard {
	/*cible tous les p du dom qui ont l'attribut class="ilesttard"*/
	background: black;
}


.ilesttard {
	/*cible tous les elem du dom qui ont un attribut class="ilesttard"*/
	background: yellow;
}

/* pseudo selecteur */
.test p:first-child {
	/*cible premier enfant p descendant d'un elem class="test"*/
	background: orange;
}

.test p:nth-child(2) {
	/*cible deuxième enfant p descendant d'un elem class="test"*/
	background: purple;
}

.test p:last-child {
	/*cible dernier enfant p descendant d'un elem class="test"*/
	background: red;
}

a {
	color: orange;
}

a:hover {
	color: blue;
}