/** {
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	min-height: 80px;
}*/

/* ========================== */
/*           COLORS           */
/*============================*/

body > header a,
.features p {
	color: #424141;
}

body > header a:hover,
body > footer a:hover {
	transition: all .3s;
	color: #FFB10B;
}

.bandeau h1,
.getstarted h1,
.btn,
body > footer a,
body > footer p {
	color: #fff;
}

.btn {
	border: 1px solid #fff;
}

.btn:hover {
	transition: all .3s;
	background: #FFB10B;
}

.marketplace h1,
.marketplace p,
.socialmedia h1 {
	color: #232323;
}

body > header,
.features {
	background: #fff;
}

.marketplace,
.socialmedia {
	background: #FFB10B;
}

.bandeau {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd2ec3+0,8000e2+100 */
	background: rgb(221,46,195); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(221,46,195,1) 0%, rgba(128,0,226,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(221,46,195,1) 0%,rgba(128,0,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(221,46,195,1) 0%,rgba(128,0,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2ec3', endColorstr='#8000e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body > footer {
	background:  #232323;
}


/* ========================== */
/*           FONTS            */
/*============================*/

body > header p,
body > header a,
main p,
main a,
body > footer a,
figcaption,
body > footer p {
	font-size: 1rem;
}

main h2 {
	font-size: 1.33rem; /* font-size du p x 4/3 */
}

main h1 {
	/*font-size: 1.78rem; /* font-size du h2 x 4/3 */
	font-size: 4rem;
}

body {
	font-size: 0;
}

h1, h2, p, ul {
	margin-top: 0;
}

.bandeau,
.marketplace,
.features,
.getstarted,
.socialmedia {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

body > header,
body > footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* ========================== */
/*           LAYOUT           */
/*============================*/

* {
	box-sizing: border-box; /*permet d'inclure le padding et le border dans le width*/
}

.container {
	max-width: 1240px;
	margin: auto;
}

.col-1 {
	width: calc(100%/12*1);
}

.col-2 {
	width: calc(100%/12*2);
}

.col-3 {
	width: calc(100%/12*3);
}

.col-4 {
	width: calc(100%/12*4);
}

.col-5 {
	width: calc(100%/12*5);
}

.col-6 {
	width: calc(100%/12*6);
}

.col-7 {
	width: calc(100%/12*7);
}

.col-8 {
	width: calc(100%/12*8);
}

.col-9 {
	width: calc(100%/12*9);
}

.col-10 {
	width: calc(100%/12*10);
}

.col-11 {
	width: calc(100%/12*11);
}

.col-12 {
	width: calc(100%/12*12);
}

[class*="col-"] {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	vertical-align: top;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

a {
	text-decoration: none;
}

/* ========================== */
/*           BUTTONS          */
/*============================*/

.btn {
	display: inline-block;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: 20px;
	text-transform: uppercase;
}

/* ========================== */
/*           HEADER           */
/*============================*/

nav li {
	display: inline-block;
}

nav ul {
	text-align: right;
}

nav a {
	display: inline-block;
	padding: .5rem 1rem;
}


/* ========================== */
/*           MAIN             */
/*============================*/

.marketplace,
.features,
.socialmedia {
	text-align: center;
}

.marketplace ul,
.socialmedia ul {
	padding-left: 0;
}

.marketplace li,
.socialmedia li {
	list-style: none;
	width: 12%;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.socialmedia li {
	width: 3%;
	margin-left: .5rem;
	margin-right: .5rem;
}

.features h2 {
	margin-top: 2em;
}

.getstarted {
	background: url('../assets/img/bg.jpg') center center no-repeat;
	background-size: cover;
}


/* ========================== */
/*           FOOTER           */
/*============================*/

body > footer {
	text-align: center;
}

body > footer ul {
	padding: 0;
}

body > footer li {
	display: inline-block;
}